{% extends "base.html" %}

{% block title %} 404-Error {% endblock %}

{% block site_header %}

{% endblock %}

{% block body %}
<body style='background:url() fixed ;  background-size:100% auto;'>
  <div class="error_page">
    <img alt="Kidmondo_face_sad" src="/static/images/face_sad.gif" />
    <h1>404 that's an error</h1>
    <p>The page you are looking for cannot be found.</p>
    <p style='color:#9caa6d; font-size:20px; cursor:pointer;' onclick='history.go(-1);'>Go back</p>

  </div>
</body>
</html>
{% endblock %}

{% block site_footer %}
    {% include 'includes/site_footer.html' %}
{% endblock %}
