<div id="filters-wrapper" class="container-fluid" style=" background-color:#34495E; color:#fff; margin-top:25px">
  <div class="row" id="filters">
      <div class="col-lg-1">

      </div>
      <div class="col-lg-10 filter-sort">
          <div class="filters col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <label class="hidden-xs">Platform</label>
              <select class="filter-select" id="platform">
                <option>All</option>
                <option>Codechef</option>
                <option>Topcoder</option>
                <option>Codeforces</option>
                <option>Hackerearth</option>
              </select>
          </div>
          <div class="filters col-lg-4 col-md-4 col-sm-6 col-xs-6">
              <label class="hidden-xs">Start date</label>
              <select id="start-date" class="filter-select">
                <option value="any">Any</option>
                <option value="1-week">Within 1 Week</option>
                <option value="2-week">Within 2 Weeks</option>
                <option value="1-month">Within 1 Month</option>
                <option value="2-month">Within 2 Months</option>
              </select>
          </div>
          <div class="sort col-lg-4 col-md-5 col-sm-12 col-xs-11">
            <div class="sort-param col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <p>Duration <i class="fa fa-sort"></i></p>
            </div>
            <div class="sort-param col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <p id="sort-date">Start Date <i class="fa fa-sort"></i></p>
            </div>
          </div>
      </div>
  </div>
</div>