<div id="filters-wrapper" class="container-fluid" style=" background-color:#34495E; color:#fff; margin-top:25px">
  <div class="row" id="filters">
      <div class="col-lg-1">

      </div>
      <div class="col-lg-10 filter-sort">
          <div class="filters">
            <label class="hidden-xs ">Platform</label>
            <select class="filter-select" id="platform">
              <option class="visible-xs">--Choose Platform--</option>
              <option selected>All</option>
              <option>Codechef</option>
              <option>Topcoder</option>
              <option>Codeforces</option>
              <option>Hackerearth</option>
            </select>


            <label class="hidden-xs"> Others</label>
            <select id="others" class="filter-select">
              <option class="visible-xs">--Type of Contest--</option>
              <option value="any" selected>Any</option>
              <option value="prized">Prized</option>
              <option value="hiring">Hiring</option>
            </select>
        </div>
      </div>
  </div>
</div>