 <div class="row content-holder">
    <div class="col-lg-1 visible-lg" >

    </div>
    <div id="contest-grid" class="col-lg-10 row" style="padding-right:0px">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 contest-main" data-date="2014-10-20-1530" data-groups='["codechef", "1-week"]'>
            <div class="hover fl-panel">
              <div class="front bg-red">
                <div class="box1">
                  <div class="ct-content">
                    <div class="ct-title">
                      <a href="">October Sky  </a>
                    </div>
                    <div class="ct-pub-on">
                      <p>Posted on: 10th oct 2014 </p>
                    </div>
                    <div class="ct-date-wrapper">
                        <div class="inline-block">
                          <div class="small">Starts At</div>
                          <div class="large weight-600 ">25 Oct</div>
                          <div class="large weight-600 ">2014</div>
                      </div>
                      <div class="inline-block less-margin-left less-margin-right">
                          <div class="fa fa-clock-o small"> IST</div>
                          <div class="less-margin">
                              <div class="event-timedelta weight-400">09:30 PM - 12:00 AM</div>
                              <div class="arrow-div"><i class="fa fa-caret-right arrow"></i></div>
                              <div class="event-timedelta small weight-400">2h 30m</div>
                          </div>
                      </div>
                      <div class="inline-block">
                          <div class="small">Ends at</div>
                          <div class="large weight-600">26 Oct</div>
                          <div class="large weight-600">2014</div>
                      </div>
                    </div>
                    <div class="prized">
                        <i class="fa fa-trophy"></i> Prizes
                    </div>
                    <div class="ct-more">
                      <i class="fa fa-ellipsis-h"></i>
                    </div>
                  </div>
                  <div class="opts row">
                      <div class="f_icons col-lg-9 col-md-9 col-sm-9 col-xs-9 col-xs-9">
                        <ul>
                            <li><a class="icon1" href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank"></a></li>
                            <li><a class="icon2" href="#"></a></li>
                            <li><a class="icon3" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cal">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                </div>
              </div>
              <div class="back">
                <div class="box2">
                  <div class="ct-content">
                    <div class="ct-about-title">
                      <p>About</p>
                    </div>
                    <div class="ct-back">
                      <i class="fa fa-rotate-left"></i>
                    </div>
                    <div class="ct-about-text">
                        <p>This is description about the event. It can have anything but only in less than 140 characters.
                        </p>
                        <a href="/contest/123" class="btn more-btn">learn more</a>
                    </div>
                  </div>
                  <div class="opts row">
                    <div class="f_icons col-lg-9 col-md-9 col-sm-9 col-xs-9 col-xs-9">
                        <ul>
                            <li><a class="icon1" href="#"></a></li>
                            <li><a class="icon2" href="#"></a></li>
                            <li><a class="icon3" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cal">
                        <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 contest-main" data-date="2014-10-12-1230" data-groups='["topcoder", "2-month"]'>
            <div class="hover fl-panel">
              <div class="front bg-blue">
                <div class="box1">
                  <div class="ct-content">
                    <div class="ct-title">
                      <a href="">Contest Title goes here </a>
                    </div>

                    <div class="ct-date-wrapper">
                        <div class="ct-date"><p>12th Oct - 1500 hrs</p></div>
                    </div>

                    <div class="ct-pub-on">
                      <p>Posted on: 10th oct 2014 </p>
                    </div>
                    <div class="ct-more">
                      <i class="fa fa-ellipsis-h"></i>
                    </div>
                  </div>
                  <div class="opts row">
                      <div class="f_icons col-lg-9 col-md-9 col-sm-9 col-xs-9 col-xs-9">
                        <ul>
                            <li><a class="icon1" href="#"></a></li>
                            <li><a class="icon2" href="#"></a></li>
                            <li><a class="icon3" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cal">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                </div>
              </div>
              <div class="back">
                <div class="box2">
                  <div class="ct-content">
                    <div class="ct-about-title">
                      <p>About</p>
                    </div>
                    <div class="ct-back">
                      <i class="fa fa-rotate-left"></i>
                    </div>
                    <div class="ct-about-text">
                        <p>This is description about the event. It can have anything but only in less than 140 characters.
                        </p>
                        <a href="">Read more</a>
                    </div>
                  </div>
                  <div class="opts row">
                    <div class="f_icons col-lg-9 col-md-9 col-sm-9 col-xs-9 col-xs-9">
                        <ul>
                            <li><a class="icon1" href="#"></a></li>
                            <li><a class="icon2" href="#"></a></li>
                            <li><a class="icon3" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cal">
                        <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 contest-main" data-date="2014-10-15-1300" data-groups='["codeforces", "1-month"]'>
            <div class="hover fl-panel">
              <div class="front bg-brown">
                <div class="box1">
                  <div class="ct-content">
                    <div class="ct-title">
                      <a href="">Contest Title goes here </a>
                    </div>

                    <div class="ct-date-wrapper">
                        <div class="ct-date"><p>12th Oct - 1500 hrs</p></div>
                    </div>

                    <div class="ct-pub-on">
                      <p>Posted on: 10th oct 2014 </p>
                    </div>
                    <div class="ct-more">
                      <i class="fa fa-ellipsis-h"></i>
                    </div>
                  </div>
                  <div class="opts row">
                      <div class="f_icons col-lg-9 col-md-9 col-sm-9 col-xs-9 col-xs-9">
                        <ul>
                            <li><a class="icon1" href="#"></a></li>
                            <li><a class="icon2" href="#"></a></li>
                            <li><a class="icon3" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cal">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                </div>
              </div>
              <div class="back">
                <div class="box2">
                  <div class="ct-content">
                    <div class="ct-about-title">
                      <p>About</p>
                    </div>
                    <div class="ct-back">
                      <i class="fa fa-rotate-left"></i>
                    </div>
                    <div class="ct-about-text">
                        <p>This is description about the event. It can have anything but only in less than 140 characters.
                        </p>
                        <a href="">Read more</a>
                    </div>
                  </div>
                  <div class="opts row">
                    <div class="f_icons col-lg-9 col-md-9 col-sm-9 col-xs-9 col-xs-9">
                        <ul>
                            <li><a class="icon1" href="#"></a></li>
                            <li><a class="icon2" href="#"></a></li>
                            <li><a class="icon3" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cal">
                        <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 contest-main" data-date="2014-11-20-1530" data-groups='["hackerearth", "2-month"]'>
            <div class="hover fl-panel">
              <div class="front bg-green">
                <div class="box1">
                  <div class="ct-content">
                    <div class="ct-title">
                      <a href="">Contest Title goes here </a>
                    </div>

                    <div class="ct-date-wrapper">
                        <div class="ct-date"><p>12th Oct - 1500 hrs</p></div>
                    </div>

                    <div class="ct-pub-on">
                      <p>Posted on: 10th oct 2014 </p>
                    </div>
                    <div class="ct-more">
                      <i class="fa fa-ellipsis-h"></i>
                    </div>
                  </div>
                  <div class="opts row">
                      <div class="f_icons col-lg-9 col-md-9 col-sm-9 col-xs-9 col-xs-9">
                        <ul>
                            <li><a class="icon1" href="#"></a></li>
                            <li><a class="icon2" href="#"></a></li>
                            <li><a class="icon3" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cal">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                </div>
              </div>
              <div class="back">
                <div class="box2">
                  <div class="ct-content">
                    <div class="ct-about-title">
                      <p>About</p>
                    </div>
                    <div class="ct-back">
                      <i class="fa fa-rotate-left"></i>
                    </div>
                    <div class="ct-about-text">
                        <p>This is description about the event. It can have anything but only in less than 140 characters.
                        </p>
                        <a href="">Read more</a>
                    </div>
                  </div>
                  <div class="opts row">
                    <div class="f_icons col-lg-9 col-md-9 col-sm-9 col-xs-9 col-xs-9">
                        <ul>
                            <li><a class="icon1" href="#"></a></li>
                            <li><a class="icon2" href="#"></a></li>
                            <li><a class="icon3" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cal">
                        <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 contest-main" data-date="2014-10-25-1000" data-groups='["codeforces", "1-week"]'>
            <div class="hover fl-panel">
              <div class="front bg-brown">
                <div class="box1">
                  <div class="ct-content">
                    <div class="ct-title">
                      <a href="">Contest Title goes here </a>
                    </div>

                    <div class="ct-date-wrapper">
                        <div class="ct-date"><p>12th Oct - 1500 hrs</p></div>
                    </div>

                    <div class="ct-pub-on">
                      <p>Posted on: 10th oct 2014 </p>
                    </div>
                    <div class="ct-more">
                      <i class="fa fa-ellipsis-h"></i>
                    </div>
                  </div>
                  <div class="opts row">
                      <div class="f_icons col-lg-9 col-md-9 col-sm-9 col-xs-9 col-xs-9">
                        <ul>
                            <li><a class="icon1" href="#"></a></li>
                            <li><a class="icon2" href="#"></a></li>
                            <li><a class="icon3" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cal">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                </div>
              </div>
              <div class="back">
                <div class="box2">
                  <div class="ct-content">
                    <div class="ct-about-title">
                      <p>About</p>
                    </div>
                    <div class="ct-back">
                      <i class="fa fa-rotate-left"></i>
                    </div>
                    <div class="ct-about-text">
                        <p>This is description about the event. It can have anything but only in less than 140 characters.
                        </p>
                        <a href="">Read more</a>
                    </div>
                  </div>
                  <div class="opts row">
                    <div class="f_icons col-lg-9 col-md-9 col-sm-9 col-xs-9 col-xs-9">
                        <ul>
                            <li><a class="icon1" href="#"></a></li>
                            <li><a class="icon2" href="#"></a></li>
                            <li><a class="icon3" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cal">
                        <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 contest-main" data-date="2014-12-2-900" data-groups='["hackerearth", "2-week"]'>
            <div class="hover fl-panel">
              <div class="front bg-green">
                <div class="box1">
                  <div class="ct-content">
                    <div class="ct-title">
                      <a href="">Contest Title goes here </a>
                    </div>

                    <div class="ct-date-wrapper">
                        <div class="ct-date"><p>12th Oct - 1500 hrs</p></div>
                    </div>

                    <div class="ct-pub-on">
                      <p>Posted on: 10th oct 2014 </p>
                    </div>
                    <div class="ct-more">
                      <i class="fa fa-ellipsis-h"></i>
                    </div>
                  </div>
                  <div class="opts row">
                      <div class="f_icons col-lg-9 col-md-9 col-sm-9 col-xs-9 col-xs-9">
                        <ul>
                            <li><a class="icon1" href="#"></a></li>
                            <li><a class="icon2" href="#"></a></li>
                            <li><a class="icon3" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cal">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                </div>
              </div>
              <div class="back">
                <div class="box2">
                  <div class="ct-content">
                    <div class="ct-about-title">
                      <p>About</p>
                    </div>
                    <div class="ct-back">
                      <i class="fa fa-rotate-left"></i>
                    </div>
                    <div class="ct-about-text">
                        <p>This is description about the event. It can have anything but only in less than 140 characters.
                        </p>
                        <a href="">Read more</a>
                    </div>
                  </div>
                  <div class="opts row">
                    <div class="f_icons col-lg-9 col-md-9 col-sm-9 col-xs-9 col-xs-9">
                        <ul>
                            <li><a class="icon1" href="#"></a></li>
                            <li><a class="icon2" href="#"></a></li>
                            <li><a class="icon3" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cal">
                        <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 contest-main" data-date="2014-10-25-1600" data-groups='["codechef", "1-month"]'>
            <div class="hover fl-panel">
              <div class="front bg-red">
                <div class="box1">
                  <div class="ct-content">
                    <div class="ct-title">
                      <a href="">Contest Title goes here </a>
                    </div>

                    <div class="ct-date-wrapper">
                        <div class="ct-date"><p>12th Oct - 1500 hrs</p></div>
                    </div>

                    <div class="ct-pub-on">
                      <p>Posted on: 10th oct 2014 </p>
                    </div>
                    <div class="ct-more">
                      <i class="fa fa-ellipsis-h"></i>
                    </div>
                  </div>
                  <div class="opts row">
                      <div class="f_icons col-lg-9 col-md-9 col-sm-9 col-xs-9 col-xs-9">
                        <ul>
                            <li><a class="icon1" href="#"></a></li>
                            <li><a class="icon2" href="#"></a></li>
                            <li><a class="icon3" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cal">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                </div>
              </div>
              <div class="back">
                <div class="box2">
                  <div class="ct-content">
                    <div class="ct-about-title">
                      <p>About</p>
                    </div>
                    <div class="ct-back">
                      <i class="fa fa-rotate-left"></i>
                    </div>
                    <div class="ct-about-text">
                        <p>This is description about the event. It can have anything but only in less than 140 characters.
                        </p>
                        <a href="">Read more</a>
                    </div>
                  </div>
                  <div class="opts row">
                    <div class="f_icons col-lg-9 col-md-9 col-sm-9 col-xs-9 col-xs-9">
                        <ul>
                            <li><a class="icon1" href="#"></a></li>
                            <li><a class="icon2" href="#"></a></li>
                            <li><a class="icon3" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cal">
                        <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 contest-main" data-date="2014-10-13-800" data-groups='["topcoder", "2-week"]'>
            <div class="hover fl-panel">
              <div class="front bg-blue">
                <div class="box1">
                  <div class="ct-content">
                    <div class="ct-title">
                      <a href="">Contest Title goes here </a>
                    </div>

                    <div class="ct-date-wrapper">
                        <div class="ct-date"><p>12th Oct - 1500 hrs</p></div>
                    </div>

                    <div class="ct-pub-on">
                      <p>Posted on: 10th oct 2014 </p>
                    </div>
                    <div class="ct-more">
                      <i class="fa fa-ellipsis-h"></i>
                    </div>
                  </div>
                  <div class="opts row">
                      <div class="f_icons col-lg-9 col-md-9 col-sm-9 col-xs-9 col-xs-9">
                        <ul>
                            <li><a class="icon1" href="#"></a></li>
                            <li><a class="icon2" href="#"></a></li>
                            <li><a class="icon3" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cal">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                </div>
              </div>
              <div class="back">
                <div class="box2">
                  <div class="ct-content">
                    <div class="ct-about-title">
                      <p>About</p>
                    </div>
                    <div class="ct-back">
                      <i class="fa fa-rotate-left"></i>
                    </div>
                    <div class="ct-about-text">
                        <p>This is description about the event. It can have anything but only in less than 140 characters.
                        </p>
                        <a href="">Read more</a>
                    </div>
                  </div>
                  <div class="opts row">
                    <div class="f_icons col-lg-9 col-md-9 col-sm-9 col-xs-9 col-xs-9">
                        <ul>
                            <li><a class="icon1" href="#"></a></li>
                            <li><a class="icon2" href="#"></a></li>
                            <li><a class="icon3" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cal">
                        <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>

            </div>
        </div>
    </div>
</div>