<div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 footer-div">
        <h4>about us</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry .....</p>
        <span>Address</span>
        <p class="top">500 Lorem Ipsum Dolor Sit,</p>
        <p>22-56-2-9 Sit Amet,</p>
        <p>USA</p>
        <p>Phone:(00) 222 666 444</p>
        <p>Fax: (000) 000 00 00 0</p>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 footer-div">
        <h4>latest comments</h4>
        <script type="text/javascript" src="http://byteboard.disqus.com/recent_comments_widget.js?num_items=4&default_tab=recent&hide_avatars=0&avatar_size=40&excerpt_length=200">
        </script>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 footer-div">
        <h4>latest tweets</h4>

        <a class="twitter-timeline" href="https://twitter.com/ByteSlate" height="350" data-widget-id="530677403262017536" >Tweets by @ByteSlate</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
    </div>

    <div class="clear"></div>
</div>