 <div class="container-fluid header-btm" style=" color:#bbb; margin-top:60px">
    <div class="row">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-6 col-md-6">
            <div style="padding-top:30px" class="hidden-xs hidden-sm">
                <h3>Welcome Ladies & Gents to ByteBoard Website.</h3>
                <h5>A place to find coding contest for youself </h5>
            </div>
            <div style="padding-top:30px; text-align: center;" class="visible-xs visible-sm">
                <h3>Welcome Ladies & Gents to ByteBoard Website.</h3>
                <h5>A place to find coding contest for yourself </h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 subscribe" >
         <!--  <input class="col-lg-8 col-md-8 " type="text" placeholder="-Tell us your email-" />
          <button class="col-lg-4 col-md-4">Subscribe</button> -->
           {% import "bootstrap/wtf.html" as wtf %}

            {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>