<div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 footer-div">
        <h4>about us</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry .....</p>
        <span>Address</span>
        <p class="top">500 Lorem Ipsum Dolor Sit,</p>
        <p>22-56-2-9 Sit Amet,</p>
        <p>USA</p>
        <p>Phone:(00) 222 666 444</p>
        <p>Fax: (000) 000 00 00 0</p>
        <div class="f_icons">
                <ul>
                    <li><a class="icon2" href="#"></a></li>
                    <li><a class="icon1" href="#"></a></li>
                    <li><a class="icon3" href="#"></a></li>
                    <li><a class="icon4" href="#"></a></li>
                    <li><a class="icon5" href="#"></a></li>
                </ul>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 footer-div">
        <h4>latest posts</h4>
        <span>Fusce scelerisque massa vitae</span>
        <p>25 april 2013</p>
        <span>Pellentesque bibendum ante</span>
        <p>15 march 2013</p>
        <span>Maecenas quis ipsum sed magna </span>
        <p>25 april 2013</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 footer-div">
        <h4>latest comments</h4>
        <span class="bg">It is a long established fact that a reader will looking layout.</span>
        <span class="bg top">There are many variations of passages of Lorem Ipsum available words.</span>
        <span class="bg">It is a long established fact that a reader will looking layout.</span>
    </div>

    <div class="clear"></div>
</div>