
<div class="footer">
    <div class="footer_top">
        <div class="f_nav1 ">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="">blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="copy">
            <p class="link"><span><a href="/contest/view" style="color:#fff">l</a></span>&copy; All rights reserved &nbsp;<a href="">Prequell Foundation</a></span></p>
        </div>
        <div class="clear"></div>
    </div>
</div>
