
<div class="footer">
    <div class="footer_top">
        <div class="f_nav1 ">
            <ul>
                <li><a href="{{ url_for('main.index') }}">home</a></li>
                <li><a href="about.html">about</a></li>
                <li><a href="portfolio.html">portfolio</a></li>
                <li><a href="blog.html">blog</a></li>
                <li><a href="index.html">features</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="copy">
            <p class="link"><span><span> &copy; All rights reserved &nbsp;<a href="">Prequell Foundation</a></span></p>
        </div>
        <div class="clear"></div>
    </div>
</div>
